@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Poppins" sans-serif;
  font-size: 1.1em;
  overflow-x: hidden;
}

/* home navbar */
#menuList a {
  padding: 13px;
  font-family: "Poppins";
  font-size: 1.1rem;
  text-transform: uppercase;
  line-height: -6px;
  font-weight: 400;
}
#navbar {
  background-color: #f7b733;
  display: flex;
  justify-content: space-around;
  padding: 8px;
  font-family: "Poppins";
  font-size: medium;
  width: 100vw;
}
#navbar ul li {
  display: inline-block;
  margin-right: 20px;
  padding-top: 15px;
}
#navbar a:hover {
  border-bottom: 2px white solid;
  color: #ffefba;
}
.logo {
  width: 50px;
  cursor: pointer;
}
.menu-icon {
  width: 50px;
  cursor: pointer;
  display: none;
}
.order-btn {
  padding: 11px;
  border-radius: 4px;
  font-family: "poppins";
  font-size: 1.1rem;
  background-color: #e1d800;
  text-transform: uppercase;
  line-height: -6px;
  font-weight: 400;
}

/* this is the media querries for navbar */
@media only screen and (max-width: 768px) {
  #navbar ul {
    background-color: black;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 2;
  }
  #navbar ul li {
    display: block;
    padding: 10px;
  }
  #navbar ul li a {
    color: #e1d800;
  }
  #navbar a:hover {
    border-bottom: 2px #e12301;
    color: #ffefba;
  }
  .menu-icon {
    display: block;
  }
  #menuList {
    overflow: hidden;
    transition: 0.5s;
  }
}

/* main-section */
.main-section {
  background: url("img/Pizza\ cabin2.jpeg") no-repeat;
  background-size: cover;
  height: calc(100vh);
  opacity: 77%;
  width: 100vw;
}
.main-section-container h1 {
  font-family: "Poppins";
  padding-top: 90px;
  width: 80%;
  font-size: 2.9em;
  font-weight: 700;
  color: #e1d800;
}
.main-section-container p {
  font-family: "Poppins" sans-serif;
  font-size: 2.1em;
  color: #e12301;
  font-weight: 300;
  width: 40%;
}
/* this is the  media querries for main-section*/
@media only screen and (max-width: 768px) {
  .main-section-container h1 {
    padding: 30px 5px 15px 5px;
    font-size: 28px;
  }
  .main-section-container p {
    width: 80%;
    opacity: 20px;
    padding-top: 15px;
  }
}
@media only screen and (min-width: 320px) {
}

/* cards */
.main-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffefba;
  width: 100vw;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 5px 20px 20px 5px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card {
  padding: 20px;
  margin: 15px;
  min-height: 200px;
  display: grid;
  grid-template-rows: auto;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgb(0, 0, 0, 0.25);
  transition: all 0.2s;
}
.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.7);
  transform: scale(1.02);
}
/* this is the media queries for cards */
@media only screen and (max-width: 768px) {
  .cards {
    justify-content: center;
  }
}

@media only screen and (min-width: 320px) {
  .card {
    padding: 10px;
    margin: 5px;
  }
}

/* showcase */
.main-showcase {
  background-image: url("img/Pizza\ cabin11.jpeg");
  background-size: cover;
  height: calc(90vh);
  border-radius: 20px;
  margin: 20px 5px 0px 5px;
}
.main-showcase .container {
  display: flex;
  font-family: "Poppins";
  justify-content: center;
  padding: 8px;
}
.main-showcase .btn {
  background-color: #f7b733;
  padding: 8px;
  border-radius: 20px;
  display: flex;
  margin-top: 150px;
}
.btn:hover {
  color: #ffefba;
  width: 130px;
  align-items: center;
  justify-content: center;
  transition: all 2.1s;
}
/* this the media querries for showcase/main-showcase */
@media only screen and (max-width: 768px) {
  .main-showcase {
    width: 100%;
  }
}

/* footer */
.main-footer .container {
  width: 100vw;
  margin: 20px 1em 0px 5px;
  padding: 40px;
  background-color: #e12301;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.main-footer p {
  font-family: "Poppins" sans-serif;
}
.main-footer h3 {
  font-family: "Poppins";
}
.footer-img {
  width: 8%;
  padding-bottom: 10px;
  cursor: pointer;
}
.about-brief {
  line-height: 1.4;
  font-size: 0.9em;
}
.quick-links {
  font-size: 0.9em;
  padding-top: 10px;
}
.quick-links a {
  color: black;
}
.quick-links a:hover {
  color: lightslategray;
}
.copyright {
  padding-bottom: 10px;
  font-size: 00.9em;
}
.socials {
  float: right;
}
.socials a {
  background-color: black;
  padding: 5px 5px 5px;
  margin: 3px;
  border-radius: 6px;
}
.socials .bxl-twitter:hover {
  color: #1da1f2;
  box-shadow: 0px 6px 10px rgb(0, 0, 0, 1.9);
  transition: all 0.1s;
  transform: scale(1.2);
}
.socials .bxl-linkedin:hover {
  color: #0a66c2;
  box-shadow: 0px 6px 10px rgb(0, 0, 0, 1.9);
  transition: all 0.1s;
  transform: scale(1.2);
}
.socials .bxl-github:hover {
  color: #ffffff;
  box-shadow: 0px 6px 10px rgb(0, 0, 0, 1.9);
  transition: all 0.1s;
  transform: scale(1.2);
}
.socials .bxl-instagram:hover {
  color: #fbad50;
  box-shadow: 0px 6px 10px rgb(0, 0, 0, 1.9);
  transition: all 0.1s;
  transform: scale(1.2);
}

/* this is the media querries for footer */
@media only screen and (max-width: 768px) {
  .main-footer p {
    font-size: 15px;
    font-weight: 300;
    font-family: "Poppins" sans-serif;
  }
  .socials {
    float: left;
  }
  .socials a {
    border-radius: 40px;
  }
}
